header {
 width: 100%;
}

.grid-container {
    width: 100%;
    background-image: url(https://i.pinimg.com/736x/21/e5/82/21e582b37cfe61c8752d01f4ed796890.jpg);
    background-size: cover;
    background-position: center;
    height: 100px;
  }

  .grid-x {
    padding: 15px;
  } 
  
  footer {
    background-color: #d4d4d4;
  }


@media print {
  .top-bar,
  .title-bar,
  .nav2,
  .pagination,
  footer,
  input[type="search"],
  button,
  .menu,
  .menu-icon,
  .submenu,
  .fi-social-facebook,
  .fi-social-twitter,
  .fi-social-instagram,
  .fi-social-pinterest,
  .fi-social-youtube,
  .fi-social-tumblr,
  a {
    display: none !important;
  }

  .large-8.cell {
    width: 100% !important;
    float: none !important;
    border: none;
  }
  aside {
    display: block !important;
    width: 100% !important;
    margin-top: 30px;
    page-break-before: always;
  }
  body {
    background: white !important;
    color: black !important;
    font-size: 12pt;
    line-height: 1.5;
  }

  h1, h4, h5 {
    color: black !important;
    page-break-after: avoid;
  }

  img {
    max-width: 100%;
    height: auto;
    break-inside: avoid;
  }
  a::after {
    content: "";
  }
  @page {
    margin: 2cm;
  }
}
